<!DOCTYPE html>
<html lang="en" dir="ltr">



{% load static %}
<link href="{% static 'pfpos/css/login.css' %}" rel="stylesheet">

{% load static %}
<script src="{% static 'pfpos/js/jquery-3.2.1.min.js' %}">
</script>

<link rel="stylesheet" href="{% static 'pfpos/css/bootstrap.min.css' %}">

<script src="{% static 'pfpos/js/bootstrap.bundle.min.js' %}">
</script>


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<head>
  <meta charset="utf-8">
  <title>ADMIN TEST</title>
  <!-- //this is for the alert // -->


</head>

<body>

  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-4">
        {% if error %}
        <div class="alert alert-danger" role="alert">Your username and password didn't match.
          Please try again.</div>
        {% endif %}

        {% if next %}
        {% if user.is_authenticated %}
        <div class="alert alert-warning" role="alert">
          Your account doesn't have access to this page. To proceed,
          please login with an account that has access.
        </div>
        {% else %}
        <div class="alert alert-warning" role="alert">Please login to see this page.</div>
        {% endif %}
        {% endif %}
      </div>

      <!--
//this is for the alert// -->

      <section class="login-block">
        <div class="container">
          <div class="row">
            <div class="col-md-4 login-sec">
              <h2 class="text-center">Login Now</h2>
              <form class="login-form" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="exampleInputEmail1" class="text-uppercase">Username</label>
                  <input type="text" class="form-control" placeholder="">

                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1" class="text-uppercase">Password</label>
                  <input type="password" class="form-control" placeholder="">
                </div>


                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input">
                    <small>Remember Me</small>
                  </label>
                  <button type="submit" class="btn btn-login float-right">Submit</button>
                </div>

              </form>
              <div class="copy-text">Copyright <i class="fa fa-heart"></i> by <a href="https:www.powerfix.ph">powerfix.ph</a></div>
            </div>
            <div class="col-md-8 banner-sec">
              <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img class="d-block img-fluid" src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                      <div class="banner-text">
                        <h2>ADMIN INTERFACE</h2>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="https://images.pexels.com/photos/7097/people-coffee-tea-meeting.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                      <div class="banner-text">
                        <h2>This is ADMIN</h2>
                        <p>This is the ADMIN Interface of POWERFIX</p>
                      </div>
                    </div>
                  </div>
                  <div class="carousel-item">
                    <img class="d-block img-fluid" src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                      <div class="banner-text">
                        <h2>CONTROL CLOUD AREA</h2>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
      </section>

</body>

</html>